<h2 class="f-w-500 m-b-24" mat-dialog-title><strong>Ver detalles</strong></h2>


<mat-dialog-content style="max-width: 600px">
  <ng-container *ngIf="patient; else loadingPatient">
    <div class="d-flex align-items-center m-b-16">
      <img class="rounded-circle" width="100"
        [src]="patient.gender == 'femenino' ? 'assets/images/profile/user.png' : 'assets/images/profile/user.png' ">
  
      <h2 style="margin-left: auto; margin-right: auto;">{{patient.first_name}} {{patient.last_name}}</h2>
    </div>
    <div class="row">
      <div class="col-sm-1 col-md-4 m-t-20">
        <div class="d-flex flex-column">
          <label class="f-w-600 m-b-4">Fecha de Nacimiento</label>
          <span>{{ patient.birthdate | date:'yyyy-MM-dd' }}</span>
        </div>
      </div>
  
      <div class="col-sm-1 col-md-4 m-t-20">
        <div class="d-flex flex-column">
          <label class="f-w-600 m-b-4">Género</label>
          <span>{{ patient.gender }}</span>
        </div>
      </div>
  
      <div class="col-sm-1 col-md-4 m-t-20">
        <div class="d-flex flex-column">
          <label class="f-w-600 m-b-4">Área de trabajo</label>
          <span>{{ patient.employee.work_space }}</span>
        </div>
      </div>
  
      <div class="col-sm-1 col-md-4 m-t-20">
        <div class="d-flex flex-column">
          <label class="f-w-600 m-b-4">Correo</label>
          <span>{{ patient.email || '---'}}</span>
        </div>
      </div>
  
      <div class="col-sm-1 col-md-4 m-t-20">
        <div class="d-flex flex-column">
          <label class="f-w-600 m-b-4">Teléfono</label>
          <span>{{ patient.phone || ''}}</span>
        </div>
      </div>
  
      <div class="col-sm-1 col-md-4 m-t-20">
        <div class="d-flex flex-column">
          <label class="f-w-600 m-b-4">CURP</label>
          <span>{{ patient.curp || '---'}}</span>
        </div>
      </div>
  
      <div class="col-sm-1 col-md-4 m-t-20">
        <div class="d-flex flex-column">
          <label class="f-w-600 m-b-4">RFC</label>
          <span>{{ patient.rfc || '---'}}</span>
        </div>
      </div>
  
      <div class="col-sm-1 col-md-4 m-t-20">
        <div class="d-flex flex-column">
          <label class="f-w-600 m-b-4">IMSS</label>
          <span>{{ patient.imss || '---'}}</span>
        </div>
      </div>
  
      <div class="col-sm-1 col-md-12 m-t-20">
        <div class="d-flex flex-column">
          <label class="f-w-600 m-b-4">Dirección</label>
          <span>{{ patient.colony + ', ' + patient.street + ', ' + patient.number}}</span>
        </div>
      </div>
  
      <div class="col-sm-1 col-md-12 m-t-20">
        <div class="d-flex flex-column">
          <label class="f-w-600 m-b-4">Tipo de sangre</label>
          <span>{{ patient.blood_type?.name }}</span>
        </div>
      </div>
  
      <div class="col-sm-1 col-md-12 m-t-20">
        <div class="d-flex flex-column">
          <label class="f-w-600 m-b-4">Turno</label>
          <span>{{ patient.turn?.name }}</span>
        </div>
      </div>
  
    </div>
  </ng-container>

  <ng-template #loadingPatient>
    <div
        class="patient-loading">
        <i-tabler name="search" class="icon-40"></i-tabler>
        <div class="patient-loading__title">Cargando paciente...
        </div>
    </div>
  </ng-template>
  
</mat-dialog-content>


<div mat-dialog-actions class="p-x-24 p-b-24">
  <div class="w-100 d-flex justify-content-end">
    
    <button mat-flat-button color="warn" (click)="closeDialog()">Cancel</button>
    
  </div>
</div>