<div class="row">
    <div class="col-lg-12">
        <mat-card class="cardWithShadow theme-card">
            <mat-card-content class="b-t-1">
                <form [formGroup]="form" #projectNgForm="ngForm">
                    <div class="row">

                        <div class="col-sm-1 col-md-6">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Inicio de Incapacidad</mat-label>
                                <input
                                    matInput
                                    formControlName="start"
                                    [matDatepicker]="start">
                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="start"></mat-datepicker-toggle>
                                <mat-datepicker #start></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-1 col-md-6">
                            <mat-form-field class="w-100" appearance="outline">
                                <mat-label>Fin de Incapacidad</mat-label>
                                <input
                                    matInput
                                    formControlName="end"
                                    [matDatepicker]="end">
                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="end"></mat-datepicker-toggle>
                                <mat-datepicker #end></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-sm-1 col-md-4  m-t-10">
                            <div class="w-100">
                                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Tipo de incapacidad</mat-label>
                                <app-c-async-select 
                                    class="w-full" 
                                    formControlName="incapacity_type" 
                                    methodService="incapacitiesTypes"
                                    bindLabel="description" 
                                    bindValue="id">
                                </app-c-async-select>
                                <mat-error errorSpan controlName="incapacity_type"></mat-error>
                            </div>
                        </div>

                        <div class="col-sm-1 col-md-4">
                            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Fecha de atención</mat-label>
                            <mat-form-field class="w-100" appearance="outline">
                               
                                <input
                                    matInput
                                    formControlName="attended_at"
                                    [matDatepicker]="attended_at">
                                <mat-datepicker-toggle
                                    matSuffix
                                    [for]="attended_at"></mat-datepicker-toggle>
                                <mat-datepicker #attended_at></mat-datepicker>
                            </mat-form-field>
                        </div>
                  
                        <div class="col-sm-1 col-md-4 m-t-10">
                            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Observaciones</mat-label>
                            <mat-form-field appearance="outline" class="w-100">
                                <input formControlName="observations" matInput placeholder="" />
                                <mat-error errorSpan controlName="observations"></mat-error>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="d-flex justify-content-end">
                        
                        <button mat-flat-button color="primary" (click)="save()">
                            <div class="d-flex align-items-center">
                                <i-tabler 
                                name="device-floppy" 
                                class="icon-18 m-r-4"></i-tabler>
                                <span>Guardar</span>
                            </div>
                        </button>
                      
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>