<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row justify-content-between align-items-center mb-4">
      <div class="col-sm-4">
        <app-search-field [pagination]="pagination" class="search-field-custom"></app-search-field>
      </div>
      <div class="col-sm-4 text-end">
        <span class="mat-badge mat-badge-primary">
          Total: {{pagination.total}}
        </span>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow table-container">
  <ng-container *ngIf="(collaborators$ | async) as incidents">
    <div class="table-responsive custom-table" *ngIf="incidents.length > 0">
      <table mat-table [dataSource]="incidents" matSort class="w-100">
        <!-- Folio Column -->
        <ng-container matColumnDef="folio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="header-cell">Folio</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="element.folio" class="badge bg-light-primary text-primary" matTooltip="Folio">
              <i-tabler name="file-description" class="icon-sm mr-1"></i-tabler>
              {{ element.folio }}
            </div>
            <div *ngIf="!element.folio" class="badge bg-light-secondary text-secondary" matTooltip="Sin folio">
              <i-tabler name="file-off" class="icon-sm mr-1"></i-tabler>
              Sin folio
            </div>
          </td>
        </ng-container>

        <!-- Centro de trabajo Column -->
        <ng-container matColumnDef="farm">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            <span class="header-cell">Centro de trabajo</span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.farm?.name }}
          </td>
        </ng-container>

        <!-- Nombre y Apellido Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 f-s-15">Nombre y Apellido</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.user?.name }}
          </td>
        </ng-container>

        <!-- Fecha del evento Column -->
        <ng-container matColumnDef="eventDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="f-w-600 f-s-15">Fecha del evento</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.event_date | date:'dd/MM/yyyy HH:mm' }}
          </td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>
            <span class="header-cell">Acciones</span>
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="action-buttons">
              <button mat-icon-button [matMenuTriggerFor]="menu" class="action-button">
                <mat-icon class="text-muted">more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" class="custom-menu">
                <button mat-menu-item class="menu-item" (click)="openDialog(element.id)">
                  <mat-icon class="text-info">remove_red_eye</mat-icon>
                  <span>Ver detalle</span>
                </button>
                <button mat-menu-item class="menu-item" (click)="download(element.id)">
                  <mat-icon class="text-primary">picture_as_pdf</mat-icon>
                  <span>Descargar PDF</span>
                </button>
                <button mat-menu-item class="menu-item text-danger" (click)="destroy(element.id)">
                  <mat-icon class="text-danger">delete</mat-icon>
                  <span>Eliminar</span>
                </button>
              </mat-menu>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header-row"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="data-row"></tr>
      </table>
    </div>

    <div class="table-loading-records" *ngIf="pagination.isLoading">
      <i-tabler name="search" class="icon-40"></i-tabler>
      <div class="table-loading-records__title">Cargando Incidentes...</div>
    </div>

    <div class="table-no-records" *ngIf="!pagination.isLoading && incidents.length === 0">
      <i-tabler name="tag" class="icon-40"></i-tabler>
      <div class="table-no-records__tilte">No se encontraron incidentes</div>
    </div>

    <mat-paginator 
      class="custom-paginator"
      [ngClass]="{ 'hidden': incidents.length === 0 }"
      [length]="pagination.total"
      [pageIndex]="pagination.pageIndex" 
      [pageSize]="pagination.perPage" 
      [pageSizeOptions]="[50, 80, 100]"
      [showFirstLastButtons]="true">
    </mat-paginator>
  </ng-container>
</mat-card>
