.logo-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 100%;
}

.colorRed{
    color: red;
}
.colorGreen{
    color: green;
}